<div class="container">
    <form method="post">
        <div class="mb-3">
          <label for="conducteur" class="form-label">Pr&eacute;nom</label>
          <input type="text" placeholder="pr&eacute;nom" class="form-control" id="conducteur" name="prenom">
        </div>
        <div class="mb-3">
          <label for="conducteur" class="form-label">Nom</label>
          <input type="text" placeholder="nom" class="form-control" id="conducteur" name="nom">
        </div>
        
        <button type="submit" class="btn btn-light">Ajouter ce conducteur</button>
      </form>
    
</div>