<div class="container">
	<form method="post">
		<div class="mb-3">
			<label for="Vehicule" class="form-label">Marque</label>
			<input
				type="text"
				placeholder="Marque"
				class="form-control"
				id="Vehicule"
				name="marque"
			/>
		</div>
		<div class="mb-3">
			<label for="Vehicule" class="form-label">Modele</label>
			<input
				type="text"
				placeholder="Modele"
				class="form-control"
				id="Vehicule"
				name="modele"
			/>
		</div>
		<div class="mb-3">
			<label for="Vehicule" class="form-label">Couleur</label>
			<input
				type="text"
				placeholder="Couleur"
				class="form-control"
				id="Vehicule"
				name="couleur"
			/>
		</div>
		<div class="mb-3">
			<label for="Vehicule" class="form-label">Immatriculation</label>
			<input
				type="text"
				placeholder="Immatriculation"
				class="form-control"
				id="Vehicule"
				name="immatriculation"
			/>
		</div>

		<button type="submit" name="submitAjoutVehicule" class="btn btn-light">
			Ajout de ce vehicule
		</button>
	</form>
</div>
